.header-wrapper {
    /* background-color: #182642; */
    height: 65px;
    display: fix;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}