.scroll-to-top {
    right: 40px;
    bottom: 40px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
    border: none;
    background-color: #fc6060;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: white;
}